@import 'tailwindcss';

@theme {
  --color-primary: #46ec13;
  --color-background-light: #f6f8f6;
  --color-background-dark: #142210;
  --color-surface-dark: #1e271c;
  --color-border-dark: #41543b;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}
