@import 'tailwindcss';

@theme {
  --color-primary: #46ec13;
  --color-background-light: #f6f8f6;
  --color-background-dark: #142210;
  --color-surface-dark: #1e271c;
  --color-border-dark: #41543b;

  --font-onest: 'Onest', sans-serif;
}

/*


*/
